{% extends 'base.html.twig' %}

{% block title %}Teniski tereni!{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="flex flex-col justify-center items-center">
        <div class="bg-lime-300 p-10 rounded-md shadow-xl shadow-grey-500/50 flex flex-col justify-center items-center">
            <h1 class="text-lg font-bold mb-7">Register</h1>

            {{ form_errors(registrationForm , {'attr' : {'class' : 'w-1/2 my-2 text-sm'} }) }}
        
            {{ form_start(registrationForm, {'attr' : { 'class' : 'flex flex-col justify-center items-center' } }) }}

                <div class="flex flex-col">
                    {{ form_label(registrationForm.email,'Email') }}
                    {{ form_widget(registrationForm.email, {'attr': { 'class' : 'mb-3' } }) }}
                </div>

                <div class="grid grid-cols-1 gap-4">
                    <div class="flex flex-col">
                        {{ form_label(registrationForm.plainPassword.first) }}
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': { 'class' : 'mb-3' } }) }}
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(registrationForm.plainPassword.second) }}
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': { 'class' : 'mb-3' } }) }}
                   
                    </div>
                </div>

                <div class="flex flex-row">
                    {{form_widget(registrationForm.agreeTerms,{'attr': { 'class' : 'mb-4  mr-3' } })}}
                    {{form_label(registrationForm.agreeTerms, 'Agree to terms' ,{'label_attr': { 'class' : 'mb-4' } })}}
                </div>
        
                <button type="submit " class="btn bg-lime-700 rounded-md py-3 px-5 m-2">Register</button>
            {{ form_end(registrationForm) }}

            <div class="flex flew-row justify-between">
                <a href="{{ path('app_tabel_view') }}" class="text-orange-900 mr-3 text-sm">
                    <-Home
                </a>
                <a href="{{ path('app_login') }}" class="text-orange-900 text-sm"> 
                    Already have an account?->
                </a>
            </div>
        </div>
    </div>
{% endblock %}
