<div class="max-h-[300px]">
  <!--prikaz svih terena-->
  <div class="flex flex-col w-full mb-3 border border-grey-300 max-h-50">
    <!--naslov za tabelu-->
    <div class="border-b border-grey-300 grid grid-cols-3 w-full h-full text-center">
      <div class="border-r border-grey-300 p-2 bg-lime-300">
        Name
      </div>
      <div class="border-r border-grey-300 p-2 bg-lime-300">
        isBlocked
      </div>
      <div class="p-2 bg-lime-300">
        Action
      </div>
    </div>

    <div class="overflow-y-scroll max-h-[250px]">
      <!--telo tabele-->
    {% for ground in grounds %}
    <div class="border-b border-grey-300 grid grid-cols-3 w-full h-full text-center">
      <div class="border-r border-grey-300 p-2">
        {{ground.name}}
      </div>
      <div class="border-r border-grey-300 p-2">
        {{ground.isBlocked == false ? 'NE' : 'DA'}} 
      </div>
      <div class="p-2">
        <button class="bg-lime-300 rounded-md italic p-2 hover:bg-lime-400" onclick="deleteGround('{{ground.id}}')">
          Delete
        </button>
        {% if ground.isBlocked == false %}
          <button class="bg-lime-300 rounded-md italic p-2 hover:bg-lime-400" onclick="blockedGround('{{ground.id}}')">
            Blocked
          </button>
        {% else %}
          <button class="bg-lime-300 rounded-md italic p-2 hover:bg-lime-400" onclick="unblockGround('{{ground.id}}')">
            Unblocked
          </button>
        {% endif %}
      </div>
    </div>
  {% endfor %}
    </div>
  </div>
</div>  

<!--script>
  function blockedGround(idGround)
  {
    var encodedId = encodeURIComponent(idGround);
    // Koristimo Symfony path funkciju da bismo generisali URL
    var url = "{ path('app_blocked_ground', {'idGround': 'IDGROUND'}) }}".replace('IDGROUND', encodedId);
    // Redirekcija na URL
    window.location.href = url;
  }

  function unblockGround(idGround)
  {
    var encodedId = encodeURIComponent(idGround);
    // Koristimo Symfony path funkciju da bismo generisali URL
    var url = "{ path('app_blocked_ground', {'idGround': 'IDGROUND'}) }}".replace('IDGROUND', encodedId);
    // Redirekcija na URL
    window.location.href = url;
  }


  function deleteGround(idGround)
  {
    // Koristimo encodeURIComponent da bismo enkodovali ID u URL format
      var encodedId = encodeURIComponent(idGround);
      // Koristimo Symfony path funkciju da bismo generisali URL
      var url = "{ path('app_delete_ground', {'idGround': 'IDGROUND'}) }}".replace('IDGROUND', encodedId);
      // Redirekcija na URL
      window.location.href = url;
  }
</script-->