{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_header.html.twig',{currUser:currentUser}) }}

    <!--Obavestenja u  modalu-->
    <div class="flex ml-4 mb-6 w-1/2">
        {% for messages in app.flashes(['addGround' ,'alreadyExist', 'deleteGround', 'blockedGround', 'unblockedGround','blockedUser','unblockedUser']) %}
            {% for message in messages %}
                <div class="bg-orange-200 border-3 border-orange-500 rounded-md p-3">
                    {{message}}
                </div>    
            {% endfor %}
        {% endfor %}
    </div>

    <div class="flex flex-col px-10">
        {{include('admin/changeCntTimeGrounds.html.twig',{timeForm:timeForm,grounds:grounds,addGroundForm:addGroundForm})}}
    </div>

    <div class="flex flex-col px-10 mt-10 bg-green-300">
        {{include('admin/viewAllUsers.html.twig',{users:users, adminEmail:adminEmail})}}
    </div>

    {{include('adnim/todayAppointments.html.twig',{todayAppointments: todayAppointments})}}



{% endblock %}

