
<table class="border border-collapse border-slate-200 px-10 py-10 table-auto flex-grow mx-10 mb-10">
  <!--naziv kolona-->
  <tr class="m-2 h-20">
    <th class="p-2 border border-slate-300 w-1/{{groundCount}}">
      Time
    </th>
    {% for ground in grounds %}
      <th class="p-2 border border-slate-30  w-1/{{groundCount}}">
        {{ground.name}}
      </th>
    {% endfor %}
  </tr>

  {% for i in range(start_time,end_time-1) %}
    <tr class="h-20">
      {% for j in range(1,grounds|length+1) %} 
        <td class="h-20 border border-slate-300 text-center w-1/{{groundCount}} {{j != 1 and grounds[j - 2].isBlocked == true ? 'bg-gray-200' : ''}}">
          {% if j == 1 %}
              <!--ispis sati za svaki red termina-->
              {% if i in range(8,9) %}
                <p> 0{{i}}:00  - {{ i > 8 ? '' : '0' }}{{ i + 1 }}:00 </p>
              {% else %}
                <p> {{i}}:00  - {{ i + 1 }}:00 </p>
              {% endif %}

          {% else %}

            <!--ako nije prva kolona-->
            {% set oneTime = true %}

            {% for appoint in appointments %}
            {% set indGround = j - 2  %}
              <!--ovaj termin je zakazan, sta radi admin, sta user-->
              {% if appoint.startTime|date('H') == i and appoint.ground.name == grounds[indGround].name %}
              {% set oneTime = false %}

              {{ include('tabel_view/bookedTerminInfo.html.twig',{aapoint:appoint}) }} 

              {% endif %}

            {% endfor %}

            <!--ovaj termni nije zakazan-->
            {% if is_granted('ROLE_VERIFY') %}
              <!--imamo verifikovanog korisnika-->
              {% if oneTime == true %}
                {% set oneTime = false %}
                {% set index = j - 2 %}
                {% set endI = i + 1 %}
                {% set thisGround = grounds[index] %}
                {% set userEmail = app.user == null ? '' : app.user.email %}

                {{ include('tabel_view/freeTerminButton.html.twig',{j:j,i:i,endI:endI,thisGround:thisGround,selectDate:selectDate,adminEmail:adminEmail,userEmail:userEmail}) }}

              {% endif %}
            {% else %}
              <!--korisnik nije verifikovan ne radimo nista-->
              {% if oneTime == true %}
                {% set oneTime = false %}
                <button class="disabled p-2 w-full h-full bg-white text-white ">
                  booking
                </button>  
              {% endif %}
            {% endif %}
            
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>