<style>
  .modal
  {
    transform: translate(-50%, -50%);
  }

</style>

<div class="mb-20 flex flex-row">

  <!--div class="mx-10 mb-10 p-3 flex-shrink-0 flex flex-col"-->
  {{ include('tabel_view/select_section.html.twig', {form:formSelect}) }}
  <!--/div-->

  {% set groundCount = grounds|length + 1 %}

  <table class="border border-collapse border-slate-200 px-10 py-10 table-auto flex-grow mx-10 mb-10">
    <!--naziv kolona-->
    <tr class="m-2">
      <th class="p-2 border border-slate-300 w-auto">
        Time
      </th>
      {% for ground in grounds %}
        <th class="p-2 border border-slate-300 w-1/{{groundCount}}">
          {{ground.name}}
        </th>
      {% endfor %}
    </tr>

    {% for i in range(start_time,end_time-1) %}
      <tr>
        {% for j in range(1,grounds|length+1) %} 
          <td class=" border border-slate-300 {{ j == 1 ? 'w-auto text-center' : 'w-1/'~ groundCount}}">
            {% if j == 1 %}
                {% if i in range(8,9) %}
                  <p> 0{{i}}:00  - {{ i > 8 ? '' : '0' }}{{ i + 1 }}:00 </p>
                {% else %}
                  <p> {{i}}:00  - {{ i + 1 }}:00 </p>
                {% endif %}
            {% else %}

              <!--ako pripada zakazanim terminima prikazi ih-->
              {% set oneTime = true %}

              {% for appoint in appointments %}
              {% set aa = j-1 %}
              {% set aaa = "Ground" ~ aa %}
                <!--ovaj termin je zakazan-->
                {% if appoint.time == i and appoint.ground.name == aaa %}
                  {% set oneTime = false %}
                  {% if is_granted('ROLE_ADMIN') %}

                    <button id="idInfo" data-i="{{i}}" data-j="{{j}}" class="p-2 w-full bg-lime-300 text-amber-950 relative">
                      {{appoint.user.email}}
                      {% set idMoreInfo = "idMoreInfo" ~ i ~ j %}
                      <div id="{{idMoreInfo}}" class="bg-zinc-950 absolute flex flex-col p-2 rounded-md top-5 left-2/3 opacity-0 z-10">
                        <div class="text-white flex flex-row">
                          <div class="mr-1">
                            Name: 
                          </div>
                          <div>
                            {{appoint.fullName}}
                          </div>
                        </div>
                        <div class="text-white flex flex-row">
                          <div class="mr-1">
                            Phone: 
                          </div>
                          <div>
                            {{appoint.phone}}
                          </div>
                        </div>
                      </div>
                    </button>

                  {% else %}
                      <button class="p-2 {{app.user == appoint.user ? 'w-full bg-amber-200 text-amber-950 inline-block' : 'w-full disabled bg-lime-300 text-lime-300' }}">
                        my appointment
                      </button>
                  {% endif %}
                {% endif %}
              {% endfor %}

              <!--ovaj termni nije zakazan-->
              {% if is_granted('ROLE_VERIFY') %}
                <!--imamo verifikovanog korisnika-->
                {% if oneTime == true %}
                  {% set oneTime = false %}
                  {% set index = j - 2 %}

                  {% set thisGround = grounds[index] %}
                  {% set userEmail = app.user == null ? '' : app.user.email %}
                  <button data-modal-target="#modal" 
                    onclick="openPopUp('{{i}}','{{thisGround.name }}','{{app.user.email }}','{{selectDate}}', '{{adminEmail}}','{{userEmail}}')"
                    class="p-2 w-full {{app.user == null ? 'disabled' : '' }} bg-white text-white hover:bg-lime-700 hover:text-amber-950">
                    booking
                  </button>

                {% endif %}
              {% else %}
                <!--korisnik nije verifikovan-->
                {% if oneTime == true %}
                  {% set oneTime = false %}
                  <button class="disabled p-2 w-full bg-white text-white">
                    booking
                  </button>  
                {% endif %}
              {% endif %}
              
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  <div class="modal hidden fixed top-1/2 left-1/2 border-1 border-amber-950 rounded-md p-3 z-10 bg-lime-300 w-1/2 max-w-2/3 ease-in-out duration-200" id="modal">
    <div class="modal-header px-15 flex justify-between border-b-1 mr-4 mb-5">
      <h3 class="title text-xl text-bold">
        Booking appointment
      </h3>
      <small>
        {% for flash in app.flashes('bookingTermin') %}
          {{flash}}
        {% endfor %}
      </small>
      <button id="close-button" class="close-button text-bold text-3xl mr-4 hover:cursor-pointer" onclick="closePopUp()">
        &times;
      </button>
    </div>
    <div class="modal-body">
      {{form_start(formBooking,{'attr' :{ 'novalidate' : 'novalidate' , 'class':'grid grid-col-2 gap-3 '} })}}
      

          <div class="flex flex-col">
            {{form_label(formBooking.hourlyRate)}}
            {{form_widget(formBooking.hourlyRate, {'attr':{'class':'js-time'} })}}
          </div>
  
          <div class="flex flex-col">
            {{form_label(formBooking.bookGround)}}
            {{form_widget(formBooking.bookGround,{'attr':{'class':'js-ground'} })}}
          </div>

        <div class="flex flex-col">
          {{form_label(formBooking.userName)}}
          {{form_widget(formBooking.userName,{'attr':{'class':'js-username'} })}}
        </div>

        <div class="flex flex-col">
          {{form_label(formBooking.dateSelect)}}
          {{form_widget(formBooking.dateSelect,{'attr':{'class':'js-date'} })}}
        </div>

        <div class="flex flex-col">
          {{form_label(formBooking.fullName)}}
          {{form_widget(formBooking.fullName)}}
          {{form_errors(formBooking.fullName)}}
        </div>

        <div class="flex flex-col">
          {{form_label(formBooking.phone)}}
          {{form_widget(formBooking.phone)}}
          {{form_errors(formBooking.phone)}}
        </div>

        <div>
          <button class="bg-lime-600 text-amber-950 w-1/2" type="submit">
            Booked
          </button>
        </div>
      {{form_end(formBooking)}}
    </div>
  </div>
  <div class="overlay fixed top-0 bottom-0 right-0 left-0 bg-black opacity-50 z-2 hidden" id="overlay"></div>
</div>


<script>

  var appointments = document.querySelectorAll('#idInfo');

  appointments.forEach((button) =>{
    var i = button.dataset.i;
    var j = button.dataset.j;

    var divId = "idMoreInfo" + String(i) + String(j);
    

    button.addEventListener('mouseover',function(){
      document.getElementById(`${divId}`).style.opacity = '1';
    });

    button.addEventListener('mouseout', function(){
      document.getElementById(`${divId}`).style.opacity = '0';
    });

  });

function openPopUp(i,groundName,username,selectDate,adminEmail, userEmail) {
  $time = document.querySelector('.js-time').value = i;
  document.querySelector('.js-ground').value = groundName;

  $fieldUsername = document.querySelector('.js-username');
  
  $fieldUsername.value = adminEmail == userEmail ? '' : username;
  
  if(adminEmail != userEmail)
  {
    $fieldUsername.setAttribute('readonly','readonly');
  }
  

  document.querySelector('.js-date').value = selectDate;

  var modal =document.getElementById("modal").style.display = "block";
  document.getElementById("overlay").style.display = "block";

}

function closePopUp() {
  document.getElementById("modal").style.display = "none";
  document.getElementById("overlay").style.display = "none";
}

</script>